*{font-family:Arial,Tahoma,Helvetica,sans-serif;padding:0;margin:0;font-size:12px;color:#000;}
a,span,p,div,table{font-size:12px;}
/***********************************************************************/
/***********************************************************************/
/******************************All-style********************************/
/***********************************************************************/
/***********************************************************************/
.font-size-10{font-size:10px;}
.font-size-11{font-size:11px;}
.font-size-12{font-size:12px;}
.font-size-14{font-size:14px;}
.font-size-15{font-size:15px;}
.font-size-16{font-size:16px;}
.font-size-18{font-size:18px;}
.font-size-20{font-size:20px;}
.font-size-24{font-size:24px;}
.font-size-28{font-size:28px;}
.font-size-30{font-size:30px;}
.font-weight-bold{font-weight:bold;}
.font-weight-normal{font-weight:normal;}
.line-height-16{line-height:16px;}
.line-height-18{line-height:18px;}
.line-height-20{line-height:20px;}
.line-height-22{line-height:22px;}
.line-height-24{line-height:24px;}
.line-height-26{line-height:26px;}
.line-height-28{line-height:28px;}
.line-height-30{line-height:30px;}
.width-80{width:80px;}
.width-100{width:100px;}
.width-120{width:120px;}
.width-140{width:140px;}
.width-160{width:160px;}
.width-180{width:180px;}
.width-200{width:200px;}
.width-240{width:240px;}
.width-300{width:300px;}
.width-400{width:400px;}
.width-500{width:500px;}
.width-600{width:600px;}
.width-700{width:700px;}
.width-800{width:800px;}
.min-width-80{min-width:80px;}
.min-width-100{min-width:100px;}
.min-width-120{min-width:120px;}
.min-width-140{min-width:140px;}
.min-width-160{min-width:160px;}
.min-width-180{min-width:180px;}
.min-width-200{min-width:200px;}
.min-width-240{min-width:240px;}
.min-width-300{min-width:300px;}
.min-width-400{min-width:400px;}
.min-width-500{min-width:500px;}
.min-width-600{min-width:600px;}
.min-width-700{min-width:700px;}
.min-width-800{min-width:800px;}
.height-32{height:32px;}
.height-40{height:40px;}
.height-60{height:60px;}
.height-80{height:80px;}
.height-100{height:100px;}
.height-120{height:120px;}
.height-140{height:140px;}
.height-160{height:160px;}
.height-180{height:180px;}
.height-200{height:200px;}
.height-240{height:240px;}
.height-300{height:300px;}
.height-400{height:400px;}
.height-500{height:500px;}
.height-600{height:600px;}
.height-700{height:700px;}
.height-800{height:800px;}
.max-width-80{max-width:80px;}
.max-width-100{max-width:100px;}
.max-width-120{max-width:120px;}
.max-width-140{max-width:140px;}
.max-width-160{max-width:160px;}
.max-width-180{max-width:180px;}
.max-width-200{max-width:200px;}
.max-width-240{max-width:240px;}
.max-width-300{max-width:300px;}
.max-width-400{max-width:400px;}
.max-width-500{max-width:500px;}
.max-width-600{max-width:600px;}
.max-width-700{max-width:700px;}
.max-width-800{max-width:800px;}
.max-height-80{max-height:80px;}
.max-height-100{max-height:100px;}
.max-height-120{max-height:120px;}
.max-height-140{max-height:140px;}
.max-height-160{max-height:160px;}
.max-height-180{max-height:180px;}
.max-height-200{max-height:200px;}
.max-height-240{max-height:240px;}
.max-height-300{max-height:300px;}
.max-height-400{max-height:400px;}
.max-height-500{max-height:500px;}
.max-height-600{max-height:600px;}
.max-height-700{max-height:700px;}
.max-height-800{max-height:800px;}
.block{display:block;}
.hidden{display:none;}
.padding-0{padding:0px;}
.padding-1{padding:1px;}
.padding-2{padding:2px;}
.padding-4{padding:5px;}
.padding-6{padding:6px;}
.padding-8{padding:8px;}
.padding-10{padding:10px;}
.padding-5{padding:5px;}
.padding-15{padding:15px;}
.padding-20{padding:20px;}
.margin-0{margin:0px;}
.margin-2{margin:2px;}
.margin-4{margin:5px;}
.margin-6{margin:6px;}
.margin-8{margin:8px;}
.margin-10{margin:10px;}
.margin-5{margin:5px;}
.margin-right-5{margin-right:5px;}
.margin-right-10{margin-right:10px;}
.margin-left-5{margin-left:5px;}
.margin-left-10{margin-left:10px;}
.margin-top-5{margin-top:5px;}
.margin-top-10{margin-top:10px;}
.background-color-ccc{background-color:#ccc;}
.background-color-f4f4f4{background-color:#f4f4f4;}
.background-color-fff{background-color:#fff;}
.background-none{background:none;}
.border-0{border-width:0px;}
.border-1{border-width:1px;}
.border-color-ccc{border-color:#ccc;}
.border-style-solid{border-style:solid;}
.border-style-dotted{border-style:dotted;}
.border-style-dashed{border-style:dashed;}
.border-style-double{border-style:double;}
.border-top{border-top:1px;}
.border-right{border-top:1px;}
.border-bottom{border-top:1px;}
.border-left{border-top:1px;}
.no-border-top{border-top:1px;}
.no-border-right{border-top:1px;}
.no-border-bottom{border-top:1px;}
.no-border-left{border-top:1px;}
.border-radius-1{-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;}
.border-radius-2{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.border-radius-3{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.border-radius-4{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.border-radius-5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.border-radius-6{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.border-radius-7{-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;}
.border-radius-8{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
.border-radius-9{-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;}
.border-radius-10{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.border-shadow{-webkit-box-shadow:#666 0px 2px 3px;-moz-box-shadow:#666 0px 2px 3px;box-shadow:#666 0px 2px 3px;}
.border-shadow-2{-webkit-box-shadow:#ffff00 0px 2px 3px;-moz-box-shadow:#ffff00 0px 2px 3px;box-shadow:#ffff00 0px 2px 3px;}
.border-shadow-3{-webkit-box-shadow:#ffaa00 0px 2px 3px;-moz-box-shadow:#ffaa00 0px 2px 3px;box-shadow:#ffaa00 0px 2px 3px;}
.hover-border-shadow:hover{-webkit-box-shadow:#666 0px 2px 3px;-moz-box-shadow:#666 0px 2px 3px;box-shadow:#666 0px 2px 3px;}
.hover-border-shadow-2:hover{-webkit-box-shadow:#ffff00 0px 2px 3px;-moz-box-shadow:#ffff00 0px 2px 3px;box-shadow:#ffff00 0px 2px 3px;}
.hover-border-shadow-3:hover{-webkit-box-shadow:#ffaa00 0px 2px 3px;-moz-box-shadow:#ffaa00 0px 2px 3px;box-shadow:#ffaa00 0px 2px 3px;}
.gradient-fff-aaa{background:-webkit-gradient(linear,0 0,0 bottom,from(#FFFFFF),to(#AAAAAA));background:-webkit-linear-gradient(#FFFFFF,#AAAAAA);background:-moz-linear-gradient(#FFFFFF,#AAAAAA);background:-ms-linear-gradient(#FFFFFF,#AAAAAA);background:-o-linear-gradient(#FFFFFF,#AAAAAA);background:linear-gradient(#FFFFFF,#AAAAAA);}
.gradient-fff-bbb{background:-webkit-gradient(linear,0 0,0 bottom,from(#FFFFFF),to(#BBBBBB));background:-webkit-linear-gradient(#FFFFFF,#BBBBBB);background:-moz-linear-gradient(#FFFFFF,#BBBBBB);background:-ms-linear-gradient(#FFFFFF,#BBBBBB);background:-o-linear-gradient(#FFFFFF,#BBBBBB);background:linear-gradient(#FFFFFF,#BBBBBB);}
.gradient-fff-ccc{background:-webkit-gradient(linear,0 0,0 bottom,from(#FFFFFF),to(#CCCCCC));background:-webkit-linear-gradient(#FFFFFF,#CCCCCC);background:-moz-linear-gradient(#FFFFFF,#CCCCCC);background:-ms-linear-gradient(#FFFFFF,#CCCCCC);background:-o-linear-gradient(#FFFFFF,#CCCCCC);background:linear-gradient(#FFFFFF,#CCCCCC);}
.gradient-fff-ddd{background:-webkit-gradient(linear,0 0,0 bottom,from(#FFFFFF),to(#DDDDDD));background:-webkit-linear-gradient(#FFFFFF,#DDDDDD);background:-moz-linear-gradient(#FFFFFF,#DDDDDD);background:-ms-linear-gradient(#FFFFFF,#DDDDDD);background:-o-linear-gradient(#FFFFFF,#DDDDDD);background:linear-gradient(#FFFFFF,#DDDDDD);}
.gradient-fff-eee{background:-webkit-gradient(linear,0 0,0 bottom,from(#FFFFFF),to(#EEEEEE));background:-webkit-linear-gradient(#FFFFFF,#EEEEEE);background:-moz-linear-gradient(#FFFFFF,#EEEEEE);background:-ms-linear-gradient(#FFFFFF,#EEEEEE);background:-o-linear-gradient(#FFFFFF,#EEEEEE);background:linear-gradient(#FFFFFF,#EEEEEE);}
.hover-gradient-fff-aaa:hover{background:-webkit-gradient(linear,0 0,0 bottom,from(#FFFFFF),to(#AAAAAA));background:-webkit-linear-gradient(#FFFFFF,#AAAAAA);background:-moz-linear-gradient(#FFFFFF,#AAAAAA);background:-ms-linear-gradient(#FFFFFF,#AAAAAA);background:-o-linear-gradient(#FFFFFF,#AAAAAA);background:linear-gradient(#FFFFFF,#AAAAAA);}
.hover-gradient-fff-bbb:hover{background:-webkit-gradient(linear,0 0,0 bottom,from(#FFFFFF),to(#BBBBBB));background:-webkit-linear-gradient(#FFFFFF,#BBBBBB);background:-moz-linear-gradient(#FFFFFF,#BBBBBB);background:-ms-linear-gradient(#FFFFFF,#BBBBBB);background:-o-linear-gradient(#FFFFFF,#BBBBBB);background:linear-gradient(#FFFFFF,#BBBBBB);}
.hover-gradient-fff-ccc:hover{background:-webkit-gradient(linear,0 0,0 bottom,from(#FFFFFF),to(#CCCCCC));background:-webkit-linear-gradient(#FFFFFF,#CCCCCC);background:-moz-linear-gradient(#FFFFFF,#CCCCCC);background:-ms-linear-gradient(#FFFFFF,#CCCCCC);background:-o-linear-gradient(#FFFFFF,#CCCCCC);background:linear-gradient(#FFFFFF,#CCCCCC);}
.hover-gradient-fff-ddd:hover{background:-webkit-gradient(linear,0 0,0 bottom,from(#FFFFFF),to(#DDDDDD));background:-webkit-linear-gradient(#FFFFFF,#DDDDDD);background:-moz-linear-gradient(#FFFFFF,#DDDDDD);background:-ms-linear-gradient(#FFFFFF,#DDDDDD);background:-o-linear-gradient(#FFFFFF,#DDDDDD);background:linear-gradient(#FFFFFF,#DDDDDD);}
.hover-gradient-fff-eee:hover{background:-webkit-gradient(linear,0 0,0 bottom,from(#FFFFFF),to(#EEEEEE));background:-webkit-linear-gradient(#FFFFFF,#EEEEEE);background:-moz-linear-gradient(#FFFFFF,#EEEEEE);background:-ms-linear-gradient(#FFFFFF,#EEEEEE);background:-o-linear-gradient(#FFFFFF,#EEEEEE);background:linear-gradient(#FFFFFF,#EEEEEE);}
.overflow-hidden{overflow:hidden;}
.color-white{color:#fff;}
.color-black{color:#000;}
.color-black-2{color:#333;}
.color-black-3{color:#565656;}
.color-red{color:#ff0000;}
.color-red-2{color:#cc3300;}
.color-blue{color:#0C6AC6}
.color-blue-2{color:#025A8D}
.color-yellow{color:#ffff00;}
.hover-color-black:hover{color:#000;}
.hover-color-black-2:hover{color:#333;}
.hover-color-black-3:hover{color:#565656;}
.hover-color-red:hover{color:#ff0000;}
.hover-color-red-2:hover{color:#cc3300;}
.hover-color-blue:hover{color:#0C6AC6}
.hover-color-blue-2:hover{color:#025A8D}
.hover-color-yellow:hover{color:#ffff00;}
.underline{text-decoration:underline;}
.no-underline{text-decoration:none;}
.line-through{text-decoration:line-through;}
.hover-underline:hover{text-decoration:underline;}
.hover-no-underline:hover{text-decoration:none;}
.hover-blue:hover{color:#0C6AC6;}
.text-align-center{text-align:center;}
.text-align-left{text-align:left;}
.text-align-right{text-align:right;}
.text-align-justify{text-align:justify;}
.text-indent-10{text-indent:10px;}
.clear-both{clear:both;}
.float-left{float:left;}
.float-right{float:right;}
.cursor-pointer{cursor:pointer;}
.display-img{text-align:center;display:table-cell;vertical-align:middle;}
.fieldset{width:auto;height:auto;background:white;border:1px solid #ccc;margin:10px 0 20px 0;padding:10px 0 10px 0;}
.fieldset .legend{float:left;width:auto;height:20px;line-height:20px;padding:0 5px;margin:-22px 0 0 10px;font-size:14px;background:white;font-weight:bold;text-transform:uppercase;}
.error p{background:#ffcece;color:#ff0000;padding-left:10px;}
.iconImg{display:block;width:24px;height:20px;margin:0 0 0 0;float:left;cursor:pointer;border:0px;background:url(../image/menu/folder-image.png) center left no-repeat;}
.iconUser{background:url(../image/menu/icon-16-back-user.png) center left no-repeat;}
.iconPass{background:url(../image/menu/icon-16-lock.png) center left no-repeat;}
.iconSite{background:url(../image/menu/icon-16-viewsite.png) center left no-repeat;}
.iconLogout{background:url(../image/menu/icon-16-logout.png) center left no-repeat;}
.ui-tabs{padding:0;border:0;background:none;}
.ui-tabs .ui-tabs-nav{border:0;background:none;padding:0 0 0 5px;}
.ui-tabs .ui-tabs-nav li{margin:0 5px 1px 0;}
.ui-tabs .ui-tabs-nav li a{font-weight:bold;color:#7e7e7e}
.ui-tabs .ui-tabs-nav li.ui-state-active a{color:#333333}
.ui-tabs .ui-tabs-panel{padding:0;}